/* ---- Oceanwp fix, loaded by pages not in /imdblt/ path but called through imdb-movie.inc.php */
.single-post:not(.elementor-page) .entry-content a {text-decoration:none !important;}
body{margin:0px !important;}
ul {list-style-type: none;}
