<?xml version="1.0"?>

	<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="lumiere_phpcs" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">

	<description>Lumière WordPress Plugin PHP Code Sniffer configuration file.</description>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/js/highslide/*</exclude-pattern>
	<exclude-pattern>tests/*</exclude-pattern>
	<exclude-pattern>dist/*</exclude-pattern>

	<!-- Add PHP Post-5.6 ruleset, not supported by WordPress core, but perfect for plugins. -->
	<rule ref="NeutronStandard">
		<!-- I use @TODOs in my comments, unactivate it -->
		<exclude name="Generic.Commenting.Todo"/>
		<!-- I do comment out my code, deactivate that security -->
		<exclude name="Squiz.PHP.CommentedOutCode"/>
		<!-- Do not report 'Closing PHP tag must be on a line by itself' -->
		<exclude name="Squiz.PHP.EmbeddedPhp"/>
		<!-- Exclude those rules, because we run WordPress-Extra which will conflict with NeutronStandard -->
		<exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned"/>
	</rule> 

	<!-- Include the WordPress-Extra standard.-->
	<rule ref="WordPress-Extra">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.YodaConditions"/>
		<exclude name="WordPress.WhiteSpace.ControlStructureSpacing"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
		<!-- Below rule should be active! Run later on without this rule -->
		<exclude name="WordPress.Security.EscapeOutput"/>
	</rule> 

	<!-- Let's also check that everything is properly documented.
	<rule ref="WordPress-Docs">
		<exclude-pattern>src/**/*</exclude-pattern>
	</rule>
	 -->

	<!-- Add in some extra rules from other standards. -->
	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<!--
	<rule ref="Generic.Commenting.Todo"/>
	-->

	<!--
	To get the optimal benefits of using WPCS, we should add a couple of
	custom properties.
	Adjust the values of these properties to fit our needs.
	For information on additional custom properties available, check out
	the wiki:
	https://github.com/WordPress/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
	-->
	<config name="minimum_supported_wp_version" value="5.0"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="lumiere-movies"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="lumiere"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="additionalWordDelimiters" value="false"/>
		</properties>
	</rule>

	<!-- I don't want to rename all classes into class-*.php -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>

</ruleset>
