<?xml version="1.0"?>
<ruleset name="lumiere_phpmd"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">
	<description>PHP MD Standards for Lumière plugin</description>

	<file>src</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/js/highslide/*</exclude-pattern>

	<rule ref="rulesets/cleancode.xml" />

	<rule ref="rulesets/codesize.xml" />

	<rule ref="rulesets/design.xml">
		<!-- normal in WP for redirects, etc -->
		<exclude name="ExitExpression" />
	</rule>

	<rule ref="rulesets/naming.xml/ShortVariable">
		<properties>
			<!-- common in WP -->
			<property name="exceptions" value="id,wp" />
		</properties>
	</rule>

	<rule ref="rulesets/naming.xml/LongVariable">
		<properties>
			<!-- I don't want to be bind to a max of 20, let's increase it -->
			<property name="maximum" value="40" />
		</properties>
	</rule>
	<rule ref="rulesets/naming.xml/ShortMethodName" />
	<rule ref="rulesets/naming.xml/ConstructorWithNameAsEnclosingClass" />
	<rule ref="rulesets/naming.xml/ConstantNamingConventions" />
	<rule ref="rulesets/naming.xml/BooleanGetMethodName" />
</ruleset>

