includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 8 # set 'max' or '9' to check mixed values
    scanDirectories:
#        - vendor/skaut/wordpress-stubs/stubs/ => waiting for the PRs to be accepted on Github
        - vendor/php-stubs/wordpress-stubs/ #less quality, should come after skaut when skaut is better defined
        - src/vendor/duck7000/imdb-graphql-php/src/Imdb/
    tmpDir: tmp/cache/phpstan
    paths:
        - src/
    excludePaths:
      analyse:
        - src/vendor/
        # Not supposed to be run as standalone, this file is meant to be copied. This file causes PHPStan to fail the analysis, prob a require issue
        - src/class/theme/class-taxonomy-items-standard.php
        # Not supposed to be run as standalone, this file is meant to be copied. This file causes PHPStan to fail the analysis, prob a require issue
        - src/class/theme/class-taxonomy-people-standard.php
    bootstrapFiles:
        # Bootstrap with constants not defined by default
        - tests/bootstrap-testing.php
    ignoreErrors:
        - '#Variable method call on#'
        - '#Path in require_once\(\) "#' # Phpstan can't resolve paths
#        - '#Parameter \#1 \$url of function esc_url_raw expects string, array<string>\|string given#' => waiting for the PRs to be accepted on Github
#        - '#Parameter \#1 \$str of function sanitize_text_field expects string, array<string>\|string#' => waiting for the PRs to be accepted on Github
    dynamicConstantNames:
        - DOING_CRON
        - WP_DEBUG_LOG
        # I may change the path in the future
        - Lumiere\Plugins\Plugins_Detect::SUBFOLDER_PLUGINS_BIT
