includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    scanFiles:
    paths:
        - src/
    excludePaths:
      analyse:
        - src/vendor/*
    bootstrapFiles:
        # Constants not defined by default
        - tests/phpstan/constants.php
        # Lumière bootstrap, but breaks everything
#        - src/bootstrap.php
        - tests/phpstan/extras.php
    ignoreErrors:
	 # These errors are reported because files are got through includes
        - message: '#Variable \$this might not be defined.#'
          path: src/class/updates
        - message: '#Variable \$logger might not be defined.#'
          path: src/class/updates
        - message: '#Variable \$imdb_admin_values might not be defined.#'
          path: src/class/updates

