includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 8 # set 'max' or '9' to check mixed values
    scanFiles:
    tmpDir: tmp/cache/phpstan
    paths:
        - src/
    excludePaths:
      analyse:
        - src/vendor/*
    bootstrapFiles:
        # Constants not defined by default
        - tests/phpstan/constants.php
        - tests/phpstan/extras.php

