includes:
# base config
    - ../phpstan.neon
parameters:
    #reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: requireOnce.fileNotFound
            reportUnmatched: false
            path: ../src/class/admin/class-widget-selection.php

