# Extra PHPStan config file to include specific values for github CI
includes:
    # base config
    - ../phpstan.neon
parameters:
    # Ignored errors should be specifically address an issue in a specific file
    ignoreErrors:
        -
            identifier: requireOnce.fileNotFound
            reportUnmatched: false
            path: ../src/class/admin/class-widget-selection.php

