.lumiere_gutenberg_block_intothepost{background: #ffde00;padding: 40px 20px;color:#494633;}

.lumiere_gutenberg_block_intothepost-content {border: 1px solid #494633;background: grey;color:white;justify-content: space-between;font-size: 18px;text-align:center;}

