/* Oceanwp fixes, loaded by pages not in /lumiere/ path but called by class Movie */

.single-post:not(.elementor-page) .entry-content a {text-decoration:none !important;}

body{
/*	margin:0px !important; --- no more needed? */
}
ul {
	list-style-type: none;
}

/* Resolve Main Menu Display When Using Boostrap */
#site-navigation-wrap .dropdown-menu {
	display: block;
	float: none;
	position: relative;
	top: auto;
	left: auto;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
}
