/* ------------------ CSS for the admin part of Lumiere! plugin */

/** Change lumiere links only on lumiere admin pages, which can be left menu, top menu, etc. using wildcards. */
[class*="toplevel_page_lumiere"] a,
[class*="lumiere_page_lumiere_options"] a,
[class*="settings_page_lumiere_options"] a,
[class*="admin_page_lumiere_options"] a { text-decoration:none;} 

.hidesection, .hidesectionOfCheckbox, .hidesectionOfCheckboxTwo{display:none;}
.activatehidesection {cursor:pointer;}

#lumiere_reset_main_settings, #lumiere_reset_data_settings, #lumiere_reset_cache_settings { /* reset admin options */
	border-color: #ff8484;
	background: #ff4b4b;
}

.help_titles{ /** Main titles in help section */
	cursor:pointer;
	border: 2px solid grey;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}
.help_titles::after{
	content: "\2935";
	font-size:larger;
	vertical-align: sub;
	padding-left:2vw;
}

a[data-lumiere_admin_search_popup]{cursor:pointer;}

.subpage {border:thin grey solid;padding:15px;background: #999 20px 10px;color:beige;border-radius: 6px;}

.subpage a { color:beige;}
.subpage a:hover { color: black;}

.titre {
	padding:5px; padding-left:25px;background: #bbb 20px 10px;color: black;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.soustitre {line-height:16px; background-color:lightslategrey;color:white;padding:10px;border-radius:6px;}
.soustitre a {color:black; }
.soustitre a:hover {color:white; }

.lumiere_signature{}

.titresection, td.titresection {font-size:1.1em;font-weight:bold;padding:20px;line-height:30px;}

.options { /* table */
width: 100%;border-color: black;}

.lumiere_short_titles{padding:5px;}

.td-aligntop {vertical-align:text-top;}

.explain {font-size:smaller;padding-top:2vh;padding-right:2vw;font-weight:normal;word-break:break-word;/*text-align:justify;*/}
.explain_breakall, .lumiere_breakall {word-break:break-all;}
.detailedcacheexplaination{padding-left:5%;padding-right:5%;}
.lumiere_options_intro_inblock {font-size:1em;padding-top:10px;padding-right:25px;text-align:justify;font-weight:normal;word-break:break-word;}
.lumiere_title_options{margin-top:2em;font-size:0.9em;}
.lumiere_intro_title_options {padding:1em 2em 0em 2em;}
.lumiere_border_shadow{background-color:white;border:1px solid #c3c4c7;box-shadow:0 1px 1px rgb(0 0 0 / 4%);padding:15px;margin-bottom:10px;}
.lumiere_border_shadow_red{background-color:red;color:white;border:1px solid #c3c4c7;box-shadow:0 1px 1px rgb(0 0 0 / 4%);padding:15px;margin-bottom:10px;}

.lumiere_wrap {margin:1em}
#tabswrap {background-color:lightgrey;border-radius:10px;padding:5px 10px 5px 10px;}

#tabswrap a {color:darkslategrey;}
#tabswrap a:hover {color:white;}

#tabs li {display:inline;}

#imdbwidgetorderContainer{height:auto;color:grey;border-radius:15px;font-size:medium;vertical-align: middle;}
@media(max-width: 400px) { /** small screen special case */
	#imdbwidgetorderContainer{height:auto;color:grey;font-size:medium;vertical-align: middle;}
	#container_imdbwidgetorderContainer{flex-flow:wrap-reverse;}
	.lumiere_writing_vertical{writing-mode: unset !important;}
}

.helpdiv {line-height:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;text-align:justify;}

.helpdiv img {padding:8px;margin:1em;border:2px black solid;}
.helpdiv .paypal {padding:0; padding-left: 5px;padding-right: 5px;margin: 0;border: none;}

/* Span of options */
.admin-option-selected, .lumiere-option-taxo-activated {font-weight:bold;color:#0066CC;}
.admin-option-ok {color:green;}
.lumiere-option-taxo-deactivated {font-weight:bold;color:red;}

.lum_success {padding:5px;background:lightYellow;border:1px solid #E6DB55;border-radius: 3px;}
.lum_error {padding:5px;background:red;color:white;border:1px solid #E6DB55;border-radius: 3px;}

/* tinyMCE image in editor */
.lumiere_admin_tiny_img {}

/* Block editor */
.lumiere_link_maker, [data-lum_link_maker] {
	background: url(../pics/lumiere-ico-noir13x13.png) no-repeat left;padding-left: 16px;text-decoration: none;cursor:pointer;
}

/* for refresh/delete in cache options - cache management */
.row-actions{text-align:center;}

.lumiere_green{color:green;}
.lumiere_red{color:red;}
.lumiere_red_bold{color:red;font-weight: bold;}
table.table_ninety{margin-left:auto;margin-right:auto;width:90%;}
.lumiere_smaller{font-size:smaller;}
.lum_bold{font-weight:bold;}
.lum_cache_pic_float{float:left;padding-right:5px;}

/* Legacy widget */
.lum_legacy_wrapper{align-items: center;width:100%;}
.lum_legacy_widget_label{white-space: nowrap;width:fit-content;}

/**
 * Misc classes
 */
.lumiere_flex_container{display:flex;flex-wrap:wrap;align-items:baseline;}
.lumiere_flex_nowrap_container{display:flex;flex-wrap:nowrap;align-items:baseline;}
.lumiere_display_flex{display:flex;}
.lumiere_flex_make_responsive{flex-direction: row;}
.lumiere_flex_make_responsive_metabox{flex-direction: column;} /* for metabox edit interface */
.lumiere_display_inline_flex{display:inline-flex;}
.lumiere_flex_container_content, .lumiere_flex_container_content_fifty{flex:50%;}
/* real responsive */
@media (max-width: 782px) {
	.lumiere_flex_make_responsive{flex-direction: column;}
}
@media (max-width: 782px) and (min-width:400) {align-items: center;
	.lumiere_flex_make_responsive_metabox{flex-direction: row;} /* for metabox edit interface */
}
@media (max-width: 400px) {
	.lumiere_flex_make_responsive_metabox{flex-direction: column;} /* for metabox edit interface */
}
.lum_metabox_subtitle{padding:1em;font-weight:600;}
.lum_metabox_label_checkbox{ vertical-align: top; }

.lumiere_flex_auto{flex:auto;}
.lumiere_flex_one{flex:1;}
.lumiere_flex_container_content_twenty{flex:20%;}
.lumiere_flex_container_content_thirty{flex:30%;}
.lumiere_flex_container_content_fourtyfive {flex:45%;}
.lumiere_flex_container_content_seventy{flex:70%;}
.lumiere_flex_container_content_eighty{flex:80%;}
.lumiere_labels{margin-bottom:30px;font-size:initial;}

.lumiere_hidden{visibility:hidden;}
.lumiere_padding_top_bottom_ten{padding-bottom:10px;padding-top:10px;}
.lumiere_padding_five{padding:5px;}
.lumiere_padding_ten{padding:10px;}
.lumiere_padding_fifteen{padding:15px;}
.lum_padding_left_50{padding-left:50px;}
.lumiere_padding_left_fifteen{padding-left:15px;}
.lumiere_padding_right_fifteen{padding-right:15px;}
.lum_padding_top_twenty{padding-top:20px;}
.lum_padding_bottom_twenty{padding-bottom:20px;}
.lum_padding_bottom_ten{padding-bottom:10px;}
.lum_padding_bottom_right_fifteen{padding-bottom:15px;padding-right:15px;}
.lum_align_left{text-align:left;}
.lumiere_align_center{text-align:center;}
.lumiere_align_webkit_center{text-align: -webkit-center;}

.lumiere_align_bottom{vertical-align:bottom;}
.lumiere_display_block{display: block}
.lumiere_valign_middle{vertical-align: middle;}
.lumiere_align_items_center{align-items:center;}
.lum_align_last_center{text-align-last:center;}
.lumiere_width_100{width:100%;}
.lum_width_fillall{width:-webkit-fill-available;}
.accesstaxo{border:1px solid black;padding:20px;margin-left:40%;margin-right:40%;}
.lumiere_width_two_em {width:2.5em;}
.lumiere_width_five_em {width:5em;}
.lumiere_font_ten {font-size:10px;}
.lumiere_font_ten_proportional{ font-size:calc(4px + 1vh); }
.lumiere_font_smaller{font-size:smaller}

.lumiere_border_width_medium{border-width: medium !important;}
.lumiere_writing_vertical{writing-mode: vertical-lr;}
.lumiere_bloquote_help{background: lightgrey;padding: 1em;border-radius: 1em;}

/* sticky */
[class*="lumiere_sticky_"] { position: sticky; bottom: 0;  z-index: 10;}
.lumiere_sticky_white{ background-color: white;}
.lumiere_sticky_boxshadow{ background-color: white;box-shadow: 1px 1px 10px 1px #ddd;}

.lum_adm_make_popup {color: #0073aa;text-decoration: none;cursor:pointer;}
.lum_adm_make_popup:hover {color: #005177;text-decoration: none;cursor:pointer;}


