/**
 * Lumiere Movies/Persons CSS standard for admin search
 */

body.lum_search{margin:20px !important;background-color:grey;color:white;}
body.lum_search a{background-color:darkslategrey;color:darkgrey;border-radius:10px;padding:5px;}
body.lum_search a:hover{color:darkslategrey;background-color:darkgrey;border-radius:10px;padding:5px;}

h1#lum_search_title {padding:20px;color:white;font-size: revert;}

input#lum_movie_input{ width:60%;background-color:lightyellow;}

.lum_search_container{border-radius:10px;padding:10px;margin:5px;background-color:darkgrey;}
.lum_search_results{color:lavender;}
span.lum_search_imdbid{background-color: cornsilk;color:darkgrey;padding:10px;border-radius:10px;margin:5px;border: 1px solid black;}

select#select_search_type{width:auto;margin-left:1em;background-color:#83a4c5;color:white;}
