/* ------------------ CSS for the admin part of Lumiere! plugin */

a { text-decoration:none;}

h3{font-size: 18px;}

.hidesection, .hidesectionOfCheckbox, .hidesectionOfCheckboxTwo{display:none;}
.activatehidesection {cursor:pointer;}

.subpage {border:thin grey solid;padding:15px;background: #999 20px 10px;color:beige;border-radius: 6px;}

.subpage a { color:beige;}
.subpage a:hover { color: black;}

.titre {padding:5px; padding-left:25px;background: #bbb 20px 10px;color: black;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.soustitre {line-height:16px; background-color:lightslategrey;color:white;padding:10px;border-radius:6px;}
.soustitre a {color:black; }
.soustitre a:hover {color:white; }

.titresection, td.titresection {font-size:12px;font-weight:bold;padding:20px;line-height:30px;}

.options { /* table */
width: 100%;border-color: black;}

.lumiere_short_titles{padding:5px;}

.td-aligntop {vertical-align:text-top;}

.explain {font-size:10px;padding-top:10px;padding-right:25px;text-align:justify;font-weight:normal;word-break:break-word;}
.explain_breakall, .lumiere_breakall {word-break:break-all;}
.detailedcacheexplaination{padding-left:5%;padding-right:5%;}
.lumiere_intro_options {font-size:14px;padding-top:10px;padding-right:25px;text-align:justify;font-weight:normal;word-break:break-word;}
.lumiere_intro_options_small {font-size:12px;padding-top:10px;padding-right:25px;text-align:justify;font-weight:normal;word-break:break-word;}

#tabswrap {background-color:lightgrey;border-radius:10px;margin:10px 0 0 0;padding:5px 10px 5px 10px;}

#tabswrap a {color:darkslategrey;}
#tabswrap a:hover {color:white;}

/*#tabs {padding: 5px;background:#F1F1F1 none repeat scroll 0%;overflow:hidden;}*/

#tabs li {display:inline;}

#imdbwidgetorderContainer{height:auto;color:grey;border-radius:15px;font-size:medium;vertical-align: middle;}
@media(max-width: 400px) {
#imdbwidgetorderContainer{height:auto;color:grey;font-size:medium;vertical-align: middle;}
#container_imdbwidgetorderContainer{flex-flow:wrap-reverse;}
.lumiere_writing_vertical{writing-mode: unset !important;}
}

.helpdiv, .helpdiv-noborderimage {line-height:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;text-align:justify;}

.helpdiv img {padding:8px;margin:5px;border: 2px black solid;}

.submit-imdb {border:none;}

 /* Span of options */
.admin-option-selected, .lumiere-option-taxo-activated {font-weight:bold;color:#0066CC;}
.lumiere-option-taxo-deactivated {font-weight:bold;color:red;}

.imdblt_success {padding:5px;background:lightYellow;border:1px solid #E6DB55;border-radius: 3px;}
.imdblt_error {padding:5px;background:red;color:white;border:1px solid #E6DB55;border-radius: 3px;}


.lumiere_admin_tiny_img {} /* tinyMCE image in editor */
.lumiere_link_maker { /* span used to process a link - doesn't work, is not process by tinyMCE */
background: url(../pics/lumiere-ico-noir13x13.png) no-repeat left;padding-left: 16px;text-decoration: none;cursor:pointer;}

/* for refresh/delete in cache options - cache management */
.row-actions{text-align:center;}

.imdblt_nofilefound{font-weight:bold;color:red;text-align:center;}
.imdblt_green{color:green;}
.imdblt_red{color:red;}
.imdblt_red_bold{color:red;font-weight: bold;}
table.table_ninety{margin-left:auto;margin-right:auto;width:90%;}
.intro_cache {padding:0 30px 30px 30px;}
.imdblt_smaller{font-size:smaller;}
.imdblt_bold{font-weight:bold;}
.picfloat{float:left;padding-right:5px;}

.imdblt_double_container, .lumiere_flex_container{display:flex;flex-wrap:wrap;}
.lumiere_display_flex{display:flex;}
.lumiere_flex_make_responsive{flex-direction: row;}
.lumiere_flex_make_responsive_metabox{flex-direction: column;} /* for metabox edit interface */
.lumiere_display_inline_flex{display:inline-flex;}
.imdblt_double_container_content, .lumiere_flex_container_content, .lumiere_flex_container_content_fifty{flex:50%;}
/* real responsive */
@media (max-width: 782px) {
  .lumiere_flex_make_responsive{flex-direction: column;}
}
@media (max-width: 782px) and (min-width:400) {
  .lumiere_flex_make_responsive_metabox{flex-direction: row;} /* for metabox edit interface */
}
@media (max-width: 400px) {
  .lumiere_flex_make_responsive_metabox{flex-direction: column;} /* for metabox edit interface */
}

.imdblt_flex_auto, .lumiere_flex_auto{flex:auto;}
.imdblt_double_container_content_twenty, .lumiere_flex_container_content_twenty{flex:20%;}
.imdblt_double_container_content_third, .lumiere_flex_container_content_third, .lumiere_flex_container_content_thirty{flex:30%;}
.imdblt_double_container_content_fourtyfive, .lumiere_flex_container_content_fourtyfive {flex:45%;}
.imdblt_double_container_content_seventy, .lumiere_flex_container_content_seventy{flex:70%;}
.imdblt_double_container_content_eighty,.lumiere_flex_container_content_eighty{flex:80%;}
.imdblt_hidden{visibility:hidden;}
.imdblt_padding_five, .lumiere_padding_five{padding:5px;}
.imdblt_padding_ten, .lumiere_padding_ten{padding:10px;}
.imdblt_padding_left{padding-left:50px;}
.imdblt_padding_top_twenty{padding-top:20px;}
.imdblt_padding_twenty{padding-bottom:20px;}
.imdblt_padding_bottom_ten{padding-bottom:10px;}
.imdblt_padding_bottom_right_fifteen{padding-bottom:15px;padding-right:15px;}
.imdblt_valign_middle{vertical-align:middle;}
.imdblt_align_left{text-align:left;}
.imdblt_align_center, .lumiere_align_center{text-align:center;}
.imdblt_align_webkit_center{text-align: -webkit-center;}
.imdblt_align_bottom{vertical-align:bottom;}

.lumiere_valign_middle{vertical-align: middle;}
.lumiere_align_items_center{align-items:center;}
.imdblt_align_last_center{text-align-last:center;}
.imdblt_float_right{float:right;}
.imdblt_float_left{float:left;}
.imdblt_width_twohundredfifty{width: 250px;}
.imdblt_width_onehundredpercent{width:100%;}
.imdblt_width_fillall{width:-webkit-fill-available;}
.accesstaxo{border:1px solid black;padding:20px;margin-left:40%;margin-right:40%;}
.imblt_border_shadow{background-color:white;border:1px solid #c3c4c7;box-shadow:0 1px 1px rgb(0 0 0 / 4%);padding:15px;}
.lumiere_border_shadow_red{background-color:red;color:white;border:1px solid #c3c4c7;box-shadow:0 1px 1px rgb(0 0 0 / 4%);padding:15px;}

.lumiere_border_width_medium{border-width: medium !important;}
.lumiere_writing_vertical{writing-mode: vertical-lr;}
/*#imdbconfig_save #tabswrap {margin:5px;padding:15px;}*/

/* sticky */
[class*="lumiere_sticky_"] { position: sticky; bottom: 0;  z-index: 10;}
.lumiere_sticky_white{ background-color: white;}
.lumiere_sticky_boxshadow{ background-color: white;box-shadow: 1px 1px 10px 1px #ddd;}

.linkpopup {color: #0073aa;text-decoration: none;cursor:pointer;}
.linkpopup:hover {color: #005177;text-decoration: none;cursor:pointer;}

