.lumiere_block_intothepost{border: 1px solid darkgrey;padding:15px;color:#494633;}

.lumiere_block_intothepost-title {color:grey;float:right;text-align:left;padding:15px 0 5px 15px;width:90%;font-size: 1.4em;font-weight: 600;}

.lumiere_block_intothepost-image {float:left;width:10%;height:auto;vertical-align:middle;}

.lumiere_block_intothepost-explanation {clear:both;padding-bottom:10px;font-style:italic;text-align:center;width:100%;font-size:0.8em;}

.lumiere_block_intothepost-container {clear:both;display:flex;flex-wrap:wrap;text-align:center;}

.lumiere_block_intothepost-select {padding:10px;flex:25%;margin-right:5px;border:1px solid darkgrey;}

.lumiere_block_intothepost-select > select {font-size: larger;}

.lumiere_block_intothepost-content {padding-top:7px;font-size:1.2em;font-weight:bold;justify-content: space-between;text-align:center;background-color:darkgrey;color:white;flex:70%;}
